.contact-info-wrapped {
    margin-left: 26px;
    .contact-info-title {
        font-size: 20px;
        margin: 0;
    }
    .contact-info-desc {
        margin-bottom: 0;
    }
}
.header-element--account {
    margin: 0 26px 0 !important;
}
.text-black {
    color: black;
}
.flex-sm-column {
    flex-direction: column !important;
}